body {
	background-color: #f4f4f4;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

img { width: 100%; }
hr { border-top: 1px solid #ccc; }

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header {
	background-color: #d4ebf2;
}

#main-header a.logo {
	width: 150px;
	display: block;
	margin: 10px;
}

#navbar {
	background-color: #333;
	color: #fff;
}

#navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navbar li {
	display: inline-block;
}

#navbar a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 15px 20px;
	display: block;
}

#navbar li.active a,
#navbar a:hover {
	background-color: #C1272F;
}

#main-banner {
	background-image: url('../img/banner.jpg');
	background-position: center;
	background-size: cover;
	min-height: 300px;
	margin-bottom: 40px;
	text-align: center;
}

#main-banner.sub-page {
	min-height: 80px;
}

#main-banner h2 {
	color: #fff;
	font-size: 50px;
	line-height: 1.6em;
	// padding-top: 30px;
	margin: 5% 10%;
}

#main {
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}

#sidebar {
	float: right;
	width: 30%;
	padding: 15px;
	box-sizing: border-box;
}

#sidebar.dark-background {
	color: #fff;
	background-color: #333;
}

#sidebar h3 {
	color: #fff;
	background-color: #444;
	line-height: 1.6em;
	margin: -15px -15px 0 -15px;
	padding: 10px 15px;
}

.media-item {
	margin: 20px 0 30px 0;
	overflow: hidden;
}
.media-item .media-thumb {
	float: left;
	width: 20%;
	border: 1px solid #ccc;
	border-radius: 50%;
	box-sizing: border-box;
}

.media-item .media-details {
	float: left;
	width: 80%;
	padding: 0 30px;
	box-sizing: border-box;
}




.box-item {
	border-bottom: 1px solid #444;
}

.box-item:last-child {
	border-bottom: 0;
}

.box-item h4 {
	margin-bottom: 0;
}

.box-item small {
	color: #999;
	font-size: 12px;
	font-style: italic;
}

.box-item p {
	margin-top: 0;
}


#main-footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}






